* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #2b4865;
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;
}

.container {
  margin: 2rem auto;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}

[data-theme="html"] {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #a66cff;
}

[data-theme="css"] {
  background-color: #eed180;
}

[data-theme="javascript"] {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #b270a2;
}

.header {
  padding: 2rem;
}

.header button {
  width: 100%;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: none;
  outline: none;
  border: none;

  font-size: 2.8rem;
  font-weight: bold;
}

.content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.content p {
  font-size: 1.8rem;
  line-height: 1.52;
  padding: 0 2rem 2rem;
}

.plus,
.minus {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.accordion .plus {
  display: block;
}

.accordion .minus {
  display: none;
}

.accordion.is-open .plus {
  display: none;
}

.accordion.is-open .minus {
  display: block;
}
